<!DOCTYPE HTML>
<html>

<head>
  <title>blockchain</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}" />
  <script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/js/skel.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/js/util.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>

  <script lang="javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script lang="javascript">
    var contract;
    window.ethereum.enable();
    $(document).ready(function () {
      if (typeof web3 !== 'undefined') {
        var sc_address = "{{contractAddress}}";
        var contractABI = web3.eth.contract(JSON.parse('{{contractABI | safe}}'));
        var contractInstance = contractABI.at(sc_address);
        contract = contractInstance;
        $("a#call_getOwner").click(function () {
          var ran = $("input#ran").val();
          contractInstance.getOwner(ran, function (error, result) {
            if (error) {
              alert("Please, connect to the network");
              reject(error);
            } else {
              $("span#owner").text(result);
            }
          });
        });
        $("a#call_getNumber").click(function () {
          var revealnum = $("input#reveal").val();
          contractInstance.reveal(revealnum, { from: web3.eth.accounts[0] }, function (error, result) {
            if (error) {
              alert(error);
              reject(error);
            } else {
              console.log(result)
              //console.log(choice.val())

              $("span#number").text("player 2 wins");


            }
          });
        });
        $("a#call_setNumber").click(function () {
          var newNumber = $("input#number").val();
          console.log(newNumber);
          contractInstance.takebet(newNumber, { from: web3.eth.accounts[0], value: web3.toWei(1, "ether"), gasPrice: web3.toWei(40, 'gwei') }, function (error, result) {
            if (error) {
              alert("Please, connect to the network");
              reject(error);
            }
          });
        });
        $("a#call_create").click(function () {
          var choice = $("input#choice").val();
          var hash = $("input#hash").val();

          contractInstance.createbet(choice, hash, { from: web3.eth.accounts[0], value: web3.toWei(1, "ether"), gasPrice: web3.toWei(40, 'gwei') }, function (error, result) {
            if (error) {
              alert("Please, connect to the network");
              reject(error);
            }
          });
        });
        $("a#call_cancel").click(function () {
          contractInstance.cancel(function (error, result) {
            if (error) {
              alert("Please, connect to the network");
              reject(error);
            }
          });
        });
        $("a#call_timeout").click(function () {
          contractInstance.claimTimeout(function (error, result) {
            if (error) {
              alert("Please, connect to the network");
              reject(error);
            }
          });
        });
      }
      else {
        alert("Please, install Metamask!");
      }
    });
  </script>
</head>

<body class="subpage">
  <!-- Header -->
  <header id="header">
    <div class="inner">
      <a href="index.html" class="logo">COINTOSS</a>
      <nav id="nav">
        <a href="index.html">Home</a>
        <a href="#">Admin</a>
        <a href="#">Customer</a>
      </nav>
      <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
    </div>
  </header>

  <section id="three" class="wrapper">
    <div class="inner">
      <header class="align-center">
        <h2>Welcome to a unviersity method of cointoss </h2>
      </header>
      <div class="flex flex-2">
        <article>
          <header>
            <h3>Enter Your Secret number to reveal the winnings!</h3>
          </header>
          <p></p><input type="text" id="reveal" value="0" />
          <p>
            <footer>
              <a href="#" id="call_getNumber" class="button special">reveal</a>
            </footer>
            <br />
            <header>
              <h3>Join a Cointoss bet below if available!</h3>
            </header>
            <p> <input type="text" id="number" value="Enter a random number here" /></p>
            <footer>
              <a href="#" id="call_setNumber" class="button special">Take bet</a>
            </footer>
            <br />
            <header>
              <h3>HashHelper</h3>
            </header>
            <p><input type="text" id="ran" value="0" /><span id="owner">I am your secure hash generator, the hash will
                not be stored in the database</span>
              <p>
                <footer>
                  <a href="#" id="call_getOwner" class="button special">Get secret hash</a>
                </footer>
                <br />
                <header>
                  <h3>Create a bet here!</h3>
                </header>
                <p> 1 is heads, 0 is tails <input type="text" id="choice" value="Enter choice here" /><input type="text"
                    id="hash" value="Enter the hash of a random number here!" /></p>
                <footer>
                  <a href="#" id="call_create" class="button special">Create bet</a>
                </footer>
                <br />
                <header>
                  <h3>Cancel</h3>
                </header>
                <p> Destroy your contract by clicking below
                  <p>
                    <footer>
                      <a href="#" id="call_cancel" class="button special">Cancel contract</a>
                    </footer>
                    <br />
                    <header>
                      <h3>Claim timeout</h3>
                    </header>
                    <p> Get your winning if player 1 did not reveal results
                      <p>
                        <footer>
                          <a href="#" id="call_timeout" class="button special">claim timeout</a>
                        </footer>
        </article>
      </div>
    </div>
  </section>


</body>

</html>